.logo img {
  display: inline;
  padding-bottom: 4px;
  max-height: 100%;
  max-width: 60px;
  vertical-align: middle;
}
.fa.fa-2{
    font-size: 1.8em;
}
.fa.fa-3{
    font-size: 4em;
}
.fa.fa-4{
    font-size: 7em;
}
.fa.fa-5{
    font-size: 12em;
}
.logo-title{
    font-weight: 500;
    font-size: 1.5em;
}
.no-margin{
  margin: 0px;
}
.right-spacer{
  margin-right: 20px;
}
.user-link{
  margin-left: 0px!important;
}
.dd{
  width: 100%;
}
.left-space{
  margin-left: 10px;
}
.left-room{
  padding: 32px 10px 32px 10px;
}
.right-room{
  padding: 10px;
}
.home-depot .left-room,.home-depot  .right-room{
  color: #344644;
}
.circled i {
  font-size: 2em;
  display: block;
  float: left;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
  color: #fff;
  font-style: normal;
}

.room{
  padding: 10px;
}

.room-vp-label,
.room-vp-value,
.room-profit-label,
.room-profit-value{
  display: block;
}

.room-vp-label,
.room-profit-lable{
  font-size: 0.8em;
}

.room-vp-value,
.room-profit-value{
  font-size: 1.4em;
}

.room-stat{
  padding: 10px 15px 10px 15px;
}

.room-info{
  height: 50%
}
.form-inline .form-group{
  margin: 0px!important;
}
.form-horizontal label{
  line-height: 20px;
}
.form-horizontal .editable{
  padding-top: 0px;
}
#add-ds, #filters{
  display: none;
}
.checkbox-nice.chk-top-right {
  position: absolute;
  right: 16px;
  top: 0px;
  padding-left: 0px;
}
#content-page-title{
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 10px;
}
.wizard-steps .nav-list > li.active > a{
  cursor: default!important;
}
.wizard-steps .nav-list > li > a{
  cursor: pointer!important;
}
.table-ol{
  padding-left: 20px;
}