body {
  background-color: #fff;
  background: none;
}

hr{
  width: 90%;
  margin-bottom: 50px;
}

.fa.fa-2{
    font-size: 1.8em;
}
.fa.fa-3{
    font-size: 2.7em;
    font-weight: lighter;
}
.fa.fa-4{
    font-size: 4em;
}
.fa.fa-5{
    font-size: 7em;
}

.home-section {
  margin: 0 auto;
  width: 90%;
  opacity: 0.9;
}

#landing-header{
  text-align: center;
  padding: 10px 0px;
  background-color: #7ac143;
}


#landing-header a{
  text-decoration: none;
  color: #fff;
}

.middle-section{
  margin: 0 auto;
  text-align: center;
}

.bg-white{
  background-color: #fff;
}
.section-title{
  margin-bottom: 50px;
  margin-top: 20px;
}

.bg-white h1,
.bg-gray h1
{
  color: #737373;
}
.bg-blue-sky h1{
  color: #fff;
}

.functions h3,
.inner-pages h3{
  border: 0px;
  font-weight: normal;
}
.bg-blue-sky{
  background-color: #ffffff;
}
.bg-gray{
  background-color: rgba(234, 234, 234, 0.90);
}
.functions {

}
.functions .fa{
  margin: 10px 10px 10px 0px;
  font-size: 55px;
  text-align: center;
  color: #737373;
}
.functions .col-lg-4,
.functions .col-md-4{
  padding: 0px 25px;
}

#login-box{
  margin: 100px auto;
}

#login-box-inner{
  border: 0px;
}

.btn-success {
  background-color: #7ac143;
  border: 0px;
}
.btn-primary {
  background-color: #3498db;
  border: 0px;
}

.info-content{
  padding: 40px;
  text-align: center;
  color: #fff;
}

.info-content-item{
  font-size: 1.3em;
  padding: 5px;
}
.info-content h1{
  font-size: 2.5em;
}
.info-content h1,
.info-content h2,
.info-content h3{
  color: #fff;
}

.upper-padding{
  padding-top: 20px;
}
.bottom-padding{
  padding-bottom: 40px;
}

ul {
    padding:0 0 0 0;
    margin:0 auto !important;
    width: 80%
}
ul li {
    list-style:none;
}
ul li img {
    cursor: pointer;
/*    max-height: 120px;*/
}
.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}
.thumbnails img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
}

footer {
  background: #121214;
  border-top: 4px solid #1F1F1F;
  font-size: 0.9em;
  padding: 80px 50px 0px 50px;
  position: relative;
}
footer * {
  color: #ffffff;
}
footer div.container div.row > div {
  margin-bottom: 25px;
}
footer div.footer-ribbon {
  background: #0088CC;
  margin: -100px 0 0 30px;
  padding: 10px 20px 6px;
  position: absolute;
  color: #ffffff;
  font-weight: 700;
}
footer div.footer-ribbon:before {
  border-right: 10px solid #005580;
  border-top: 16px solid rgba(0, 0, 0, 0);
  content: "";
  display: block;
  height: 0;
  left: -10px;
  position: absolute;
  top: 0;
  width: 7px;
}
footer div.footer-ribbon span {
  color: #ffffff;
  font-weight: 700;
}
.footer-copyright {
  margin-top: -40px;
}
footer div.container div.row > div {
  margin-bottom: 25px;
}
#footer-menu {
  text-align: right;
}
#footer-menu li {
  display: inline;
  list-style: none;
  margin-left: 10px;
}
footer div.footer-ribbon span {
  color: #ffffff;
  font-weight: 700;
}
#footer h3{
  border: 0px;
}
#footer h3 > span {
  border: 0px;
  display: inline-block;
  padding: 0 5px 5px;
}

/* CAROUSEL */
.unit{
   text-align:right;
   color:#fff;
   padding:0px 10%;
   background-position:center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width:100%;
}
.testimonial h3{
   display:inline-block;
   background:black;
   background: transparent;
   color:#fff;
   padding:10px;
   margin-left: 20%;
   border: 0px
}
.testimonial .byline{
   display:inline-block;
   background:black;
   background:rgba(0, 0, 0, 0.5);
   font-size:18px;
   padding:8px;
   margin-left: 25%;
}
.slide{
  padding-bottom: 20px;
}
.slide .carousel-control.right,
.slide .carousel-control.left{
  background-image: none;
}

.contact {
  border: 0px;
  background: #fff;
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid #e1e1e1;
  padding: 25px;
  text-align: center;
  margin: 0 auto!important;
}

.contact .form-group {
  margin-bottom: 10px;
}
.contact .input-group > .form-control, #login-box-inner .input-group > .input-group-addon {
  height: 46px;
  padding-top: 0;
  padding-bottom: 0;
}
.contact .input-group input {
  font-weight: 300;
}
.contact .btn {
  font-size: 1.125em;
  font-weight: 600;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  margin-top: 8px;
}