{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block fos_user_content %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="input-group reset-pass-input">
        <span class="input-group-addon">
            <i class="fa fa-user"></i>
        </span>
        <input type="text" class="form-control" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}" data-required/>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" class="btn btn-success col-xs-12" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </div>
</form>

{% endblock fos_user_content %}

{% block page_bottom_scripts %}
    {{parent()}}

    <script type="text/javascript">
    $(document).ready(function(){

    {% if invalid_username is defined %}
        errMsg = "{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}";
        displayErrMsg(errMsg);
    {% endif %}


    $('.fos_user_resetting_request').validate({
            onKeyup : true,
            eachValidField : function() {

                $(this).closest('div').removeClass('has-error').addClass('has-success');
            },
            eachInvalidField : function() {

                $(this).closest('div').removeClass('has-success').addClass('has-error');
            }
        });
     });
    </script>
{% endblock %}
