{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block fos_user_content %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" role="form" id="reset-password-form">

    {{ form_row(form._token) }}

    <div class="form-group">
        <div class="input-group {% if form.plainPassword.first.vars.errors|length %} has-error{% endif %}">
            <span class="input-group-addon">
                <i class="fa fa-lock"></i>
            </span>
             {{ form_widget(form.plainPassword.first,  { 'label': false, 'attr' : {'data-required': '', 'class': 'form-control', 'placeholder' : 'form.new_password'|trans({}) } }) }}
        </div>
    </div>
    <div class="form-group">
        <div class="input-group {% if form.plainPassword.second.vars.errors|length %} has-error{% endif %}">
            <span class="input-group-addon">
                <i class="fa fa-lock"></i>
            </span>
            {{ form_widget(form.plainPassword.second,  { 'label': false, 'attr' : {'data-required': '','data-validate': 'confirm', 'class': 'form-control', 'placeholder' : 'form.new_password_confirmation'|trans({}) } }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="submit" class="btn btn-success col-xs-12" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
        <div class="col-xs-12">
            <a href="{{ path('login') }}" class="pull-right forgot-link">{{ 'resetting.back_to_login'|trans }}</a>
        </div>
    </div>
</form>

{% endblock fos_user_content %}

{% block page_bottom_scripts %}
    {{parent()}}

    <script type="text/javascript">
    $(document).ready(function(){

        {% if errors|length > 0 %}
            errMsg = "PASSWORD DO NOT MATCH";
            displayErrMsg(errMsg);
        {% endif %}


        $('#reset-password-form').validate({
            onKeyup : true,
            eachValidField : function() {

                $(this).closest('div').removeClass('has-error').addClass('has-success');
            },
            eachInvalidField : function() {

                $(this).closest('div').removeClass('has-success').addClass('has-error');
            }
        });


        jQuery.validateExtend({
            "email" : {
                required : true,
                pattern : /^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
            },
            "username" : {
                required : true,
                pattern : /^\d{10}$/
            },
             "confirm" : {
                required : true,
                conditional: function(value){
                    return $('#fos_user_resetting_form_plainPassword_first').val() === value;
                }
            }
        });
    });
    </script>
{% endblock %}

