{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/main/css/libs/select2.css') }}" rel="stylesheet" />
    <style type="text/css">
        #email-new-header .form-control-subject {
            padding: 0 !important;
            border: 0 !important;
        }
    </style>
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col-lg-12">

        <div id="email-box" class="clearfix">

            <div class="row">
                <div class="col-lg-12">

                    <div id="email-new" class="email-new-nano">
                        <div class="email-new-nano-content">
                            <div id="email-new-inner">
                                <div id="email-new-title" class="clearfix">
                                    <span class="subject">Nouveau message</span>
                                </div>

                                {{ form_start(form) }}

                                {{ form_row(form._token) }}
                                    <div id="email-new-header">
                                        <div class="row form-group">
                                            <label for="exampleInpTo" class="col-md-2">À:</label>
                                            <div class="col-md-10">
                                                {{ form_widget(form.recipients,  { 'label': false, 'attr' : {'class': 'form-control-s2 email-recepients form-control-subject', 'multiple' : 'multiple', 'placeholder' : 'Enter recepients'|trans({}) } }) }}
                                            </div>
                                        </div>
{#
                                        <div class="row form-group">
                                            <label for="exampleInpTo" class="col-md-2">Offre:</label>
                                            <div class="col-md-10">
                                                {{ form_widget(form.offer,  { 'label': false, 'attr' : {'class': 'form-control-s2 offers form-control-subject', 'placeholder' : 'Enter offers'|trans({}) } }) }}
                                            </div>
                                        </div>
#}
                                        <div class="row form-group">
                                            <label for="exampleInpSubject" class="col-md-2">Sujet:</label>
                                            <div class="col-md-10">
                                                {{ form_widget(form.subject,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Enter subject'|trans({}) } }) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div id="email-new-body">
                                        <div class="row">
                                            <label class="visible-xs">Contenu:</label>

                                            <div class="col-md-12">
                                                <div id="alerts"></div>
                                                <div class="btn-toolbar editor-toolbar hidden-xs" data-role="editor-toolbar" data-target="#editor">
                                                    <div class="btn-group">
                                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                                                        <ul class="dropdown-menu">
                                                        </ul>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                                                            <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                                                            <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                                        <a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                                        <a class="btn btn-default" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                                                        <a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                                                        <a class="btn btn-default" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                                                        <a class="btn btn-default" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                                                        <a class="btn btn-default" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-default" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                                        <a class="btn btn-default" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                                        <a class="btn btn-default" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                                                        <a class="btn btn-default" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                                                        <div class="dropdown-menu input-append">
                                                            <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                                                            <button class="btn" type="button">Add</button>
                                                        </div>
                                                        <a class="btn btn-default" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                                                    </div>

                                                    <div class="btn-group">
                                                        <a class="btn btn-default" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                                                        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                                                    </div>
                                                    <div class="btn-group">
                                                        <a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                                        <a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                                    </div>
                                                    <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">
                                                </div>

                                                <div id="editor" class="wysiwyg-editor">

                                                </div>
                                                {{ form_widget(form.body,  { 'label': false, 'attr' : {'style': 'display:none' } }) }}

                                            </div>
                                        </div>
                                    </div>

                                    <div id="email-new-footer">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-10 col-md-offset-2">
                                                <div class="pull-right">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default"><i class="fa fa-times"></i> Annuler</button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="submit" class="btn btn-success"><i class="fa fa-send"></i> Envoyer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                               {{ form_end(form,  {'render_rest': false}) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}

{% block page_bottom_scripts %}

    <!-- this page specific scripts -->
    <script src="{{ asset('bundles/main/js/libs/jquery.hotkeys.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/bootstrap-wysiwyg.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/select2.min.js') }}"></script>

    <script>
    $(document).ready(function() {
        $('#email-list li > .star > a').on('click', function() {
            $(this).toggleClass('starred');
        });

        $(".has-tooltip").each(function (index, el) {
            $(el).tooltip({
                placement: $(this).data("placement") || 'bottom'
            });
        });

        setHeightEmailContent();

        initEmailScroller();


        $('.email-recepients').select2({
            placeholder: 'Chossisez les desinataires'
        });


        $('.offers').select2({
            placeholder: 'Chossisez une offre'
        });
    });

    $(window).smartresize(function(){
        setHeightEmailContent();

        initEmailScroller();
    });

    function setHeightEmailContent() {
        if ($( document ).width() >= 992) {
            var windowHeight = $(window).height();
            var staticContentH = $('#header-navbar').outerHeight() + $('#email-header').outerHeight();
            staticContentH += ($('#email-box').outerHeight() - $('#email-box').height());

            $('#email-new').css('height', windowHeight - staticContentH);
        }
        else {
            $('#email-new').css('height', '');
        }
    }

    function initEmailScroller() {
        if ($( document ).width() >= 992) {

            $('#email-new').nanoScroller({
                alwaysVisible: false,
                iOSNativeScrolling: false,
                preventPageScrolling: true,
                contentClass: 'email-new-nano-content'
            });
        }
    }

    $(function(){
        $('form[name=edf_new_message]').on('submit',function(e){
            $('#edf_new_message_body').html($('div#editor').html());
            return true;
        });

        function initToolbarBootstrapBindings() {
            var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
                        'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                        'Times New Roman', 'Verdana'],
                fontTarget = $('[title=Font]').siblings('.dropdown-menu');

            $.each(fonts, function (idx, fontName) {
                fontTarget.append($('<li><a data-edit="fontName ' + fontName +'" style="font-family:\''+ fontName +'\'">'+fontName + '</a></li>'));
            });
            $('a[title]').tooltip({container:'body'});
            $('.dropdown-menu input').click(function() {return false;})
                .change(function () {$(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');})
                .keydown('esc', function () {this.value='';$(this).change();});

            $('[data-role=magic-overlay]').each(function () {
                var overlay = $(this), target = $(overlay.data('target'));
                overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
            });
            if ("onwebkitspeechchange"  in document.createElement("input")) {
                var editorOffset = $('#editor').offset();
                $('#voiceBtn').css('position','absolute').offset({top: editorOffset.top, left: editorOffset.left+$('#editor').innerWidth()-35});
            } else {
                $('#voiceBtn').hide();
            }
        };
        function showErrorAlert (reason, detail) {
            var msg='';
            if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
            else {
                console.log("error uploading file", reason, detail);
            }
            $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+
             '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
        };

        initToolbarBootstrapBindings();

        $('#editor').wysiwyg({ fileUploadError: showErrorAlert} );
    });
    </script>
{% endblock %}