{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col-lg-12">

        <div id="email-box" class="clearfix">

            {% include 'MessageBundle:Part:header.html.twig' with {'page': 'inbox'}  %}

            <div class="row">
                <div class="col-lg-12">
                    <div id="email-content" class="email-content-nano">
                        <div class="email-content-nano-content">
                            <ul id="email-list">
                                {% if threads %}
                                    {% for thread in threads %}
                                        <li class="{% if not fos_message_is_read(thread) %}unread {% endif %}clickable-row" data-href="{{path('main_message_detail', {'threadId':thread.id})}}">
                                            <div class="chbox">
                                                <div class="checkbox-nice">
                                                    <input type="checkbox" id="m-checkbox-{{ thread.id }}" />
                                                    <label for="m-checkbox-{{ thread.id }}"></label>
                                                </div>
                                            </div>
                                            <div class="name">
                                                {{ thread.createdBy }}

                                                {% if thread.offer is defined and thread.offer != null %}
                                                {{ thread.offer.reference }}
                                                {% endif %}
                                            </div>
                                            <div class="message">
                                                <span class="subject">{{ thread.subject }}</span>
                                            </div>
                                            <div class="meta-info">
                                                <span class="date">{{ thread.createdAt|date }}</span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

{% block page_bottom_scripts %}

    <script>
    $(document).ready(function() {
        $('#email-list li > .star > a').on('click', function() {
            $(this).toggleClass('starred');
        });

        $(".has-tooltip").each(function (index, el) {
            $(el).tooltip({
                placement: $(this).data("placement") || 'bottom'
            });
        });

        setHeightEmailContent();

        initEmailScroller();

        $(".clickable-row > div:not(.chbox,.star)").click(function(e) {
            if ((e.target instanceof HTMLAnchorElement) == true) {
                return;
            }

            var href = $(this).parent().data('href');

            if (href != '' && typeof href != 'undefined') {
                window.document.location = href;
            }
        });
    });

    $(window).smartresize(function(){
        setHeightEmailContent();

        initEmailScroller();
    });

    function setHeightEmailContent() {
        if ($( document ).width() >= 992) {
            var windowHeight = $(window).height();
            var staticContentH = $('#header-navbar').outerHeight() + $('#email-header').outerHeight();
            staticContentH += ($('#email-box').outerHeight() - $('#email-box').height());

            $('#email-content').css('height', windowHeight - staticContentH);
        }
        else {
            $('#email-content').css('height', '');
        }
    }

    function initEmailScroller() {
        if ($( document ).width() >= 992) {

            $('#email-content').nanoScroller({
                alwaysVisible: false,
                iOSNativeScrolling: false,
                preventPageScrolling: true,
                contentClass: 'email-content-nano-content'
            });
        }
    }
    </script>
{% endblock %}