{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-lg-12">
            <div id="email-box" class="clearfix">
                {% include 'MessageBundle:Part:header.html.twig' %}
                <div class="row">
                    <div class="col-lg-12">

                        {% include 'MessageBundle:Part:left_menu.html.twig'  %}

                        <div id="email-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_bottom_scripts %}
<script type="text/javascript" src="{{ asset('bundles/message/js/message_bundle.js') }}" />
{% endblock %}