{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}
    {% include 'MainBundle:parts:email_list.html.twig' %}
    {% include 'MainBundle:parts:offers_list.html.twig' with {'allOffers' : allOffers, 'myOffers' : myOffers} %}
{% endblock %}

{% block page_bottom_scripts %}

    <!-- this page specific scripts -->
    <script src="{{ asset('bundles/main/js/libs/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/dataTables.tableTools.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/jquery.dataTables.bootstrap.js') }}"></script>


    <!-- this page specific inline scripts -->
    <script>
        $(document).ready(function() {
            var table = $('#table-emails, #table-offres, #table-participants').dataTable({
                'info': false,
                "search": {
                    "regex": true
                },
                language: {
                    url : '{{ asset('bundles/main/js/libs/datatable.French.json') }}'
                }
            });

            $('.datatable').each(function(){
                var datatable = $(this);
                // SEARCH - Add the placeholder for Search and Turn this into in-line formcontrol
                var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                search_input.attr('placeholder', 'Recherche');
                search_input.addClass('form-control input-small');
                search_input.css('width', '250px');

                // SEARCH CLEAR - Use an Icon
                var clear_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] a');
                clear_input.html('<i class="icon-remove-circle icon-large"></i>')
                clear_input.css('margin-left', '5px')

                // LENGTH - Inline-Form control
                var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                length_sel.addClass('form-control input-small')
                length_sel.css('width', '75px')

                // LENGTH - Info adjust location
                var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_info]');
                length_sel.css('margin-top', '18px')
            });

            function filterColumn ( i, val) {
                $('#table-emails, #table-offres, #table-participants').DataTable().column( i ).search(val, true, false).draw();
            }

            function createSearchString(){
                var searchString = '';
                var checkedValues = $('.level_filter:checked').map(function() {
                    return $(this).attr('data-info');
                }).get();
                $.each(checkedValues, function( index, value ) {
                    searchString += value;
                    if (index <= checkedValues.length - 2) {
                        searchString += "|";
                    }
                });
                return searchString;
            }
        });
    </script>
{% endblock %}