<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Portail achat{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {% block stylesheets %}
        {% include 'MainBundle:parts:stylesheets.html.twig' %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- google font libraries -->
    <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>-->

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    {% block js_scripts %}
        {% include 'MainBundle:parts:js_scripts.html.twig' %}
    {% endblock %}

    {% block page_top_scripts %}{% endblock %}

</head>
{% block page %}
<body class="fixed-header fixed-leftmenu pace-done theme-white">
    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container">
                <a href="{{path('dashboard_index')}}" id="logo" class="navbar-brand">
                    <img src="{{ asset('bundles/main/img/logo.png') }}">
                </a>

                <div class="clearfix">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>

                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            <a class="btn" id="make-small-nav">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="nav-no-collapse pull-right" id="header-nav">
                    <ul class="nav navbar-nav pull-right">
                        <li class="mobile-search">
                            <a class="btn">
                                <i class="fa fa-search"></i>
                            </a>

                            <div class="drowdown-search">
                                <form role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <i class="fa fa-search nav-search-icon"></i>
                                    </div>
                                </form>
                            </div>

                        </li>
                        <li class="dropdown profile-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                    {{ 'Bienvenu '~ app.user.username }}
                                </span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('profile-edit')}}"><i class="fa fa-user"></i>Profile</a></li>
                                <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
                                <li><a href="{{path('fos_user_security_logout')}}"><i class="fa fa-power-off"></i>Logout</a></li>
                            </ul>
                        </li>
                        <li class="hidden-xxs">
                            <a class="btn" href="{{path('fos_user_security_logout')}}">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </header>
        <div id="page-wrapper" class="container">
            <div class="row">

                {% include 'MainBundle:parts:left_menu.html.twig' %}

                <div id="content-wrapper">

                    {% block page_content %}
                    {% endblock %}
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}

                    <footer id="footer-bar" class="row">
                        <p id="footer-copyright" class="col-xs-12">
                            &copy; 2015 <a href="" target="_blank">Portail Achat</a>. Powered by Digital & Si0n
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<script type="text/javascript">

$(document).ready(function(){

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            var flashMsg = '{{message}}';
            displayErrMsg(flashMsg, '{{type}}')
        {% endfor %}
    {% endfor %}

});

function displayErrMsg(errMsg, type, effect){
    var msgType = (type !== undefined) ? type : 'error';
    var msgEffect = (effect !== undefined) ? effect : 'slidetop';

    // create the notification
    var notification = new NotificationFx({
        message : '<span class="icon fa fa-bullhorn fa-2x"></span><p>'+errMsg+'</p>',
        wrapper: document.body,
        layout : 'bar',
        effect : msgEffect,
        type : msgType, // notice, warning or error
        onClose : function() {

        }
    });

    // show the notification
    notification.show();

};
</script>

{% block page_bottom_scripts %}

{% endblock %}



</body>
</html>