{% extends "MainBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/main/css/libs/bootstrap-wizard.css') }}" rel="stylesheet" />
{% endblock %}

{% block page_top_scripts %}
    <script src="{{ asset('bundles/main/js/libs/jquery-validate.min.js') }}"></script>
{% endblock %}

{% block page_content %}

<div class="col-lg-12">

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                <div id="content-page-title" class="visible-md visible-lg">
                    <i class="fa fa-user"></i> {{'Profil'|trans({})}}
                </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="col-lg-3">
                        <div class="wizard-steps" >
                            <ul class="nav nav-list" >
                                <li class="wizard-nav-item">
                                    <a href="{{path('profile-edit')}}" class="wizard-nav-link">
                                        <i class="icon-chevron-right"></i>{{'Date personale'|trans({})}}
                                    </a>
                                </li>
                                <li class="wizard-nav-item">
                                    <a href="{{path('profile-settings')}}" class="wizard-nav-link">
                                        <i class="icon-chevron-right"></i>{{'Setari'|trans({})}}
                                    </a>
                                </li>
                                <li class="wizard-nav-item active">
                                    <a class="wizard-nav-link">
                                        <i class="icon-chevron-right"></i>{{'Schimba parola'|trans({})}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" id="change-password-form" role="form">
                            {{ form_widget(form._token) }}

                            <div class="col-md-7 ">
                                <div class="form-group clearfix">
                                    <div class="col-lg-3">
                                        {{ form_label(form.current_password, null) }}
                                    </div>
                                    <div class="col-lg-9 {% if form.current_password.vars.errors|length %} has-error{% endif %}">
                                        {{ form_widget(form.current_password,  { 'label': false, 'attr' : {'data-required': '','class': 'form-control', 'placeholder' : 'form.current_password'|trans({}) } }) }}
                                    </div>
                                </div>

                                <div class="form-group clearfix">
                                    <div class="col-lg-3">
                                        {{ form_label(form.plainPassword.first, null) }}
                                    </div>
                                    <div class="col-lg-9 {% if form.plainPassword.first.vars.errors|length %} has-error{% endif %}">
                                        {{ form_widget(form.plainPassword.first,  { 'label': false, 'attr' : {'data-required': '','class': 'form-control', 'placeholder' : 'form.new_password'|trans({}) } }) }}
                                    </div>
                                </div>

                                <div class="form-group clearfix">
                                    <div class="col-lg-3">
                                        {{ form_label(form.plainPassword.second, null) }}
                                    </div>
                                    <div class="col-lg-9 {% if form.plainPassword.second.vars.errors|length %} has-error{% endif %}">
                                        {{ form_widget(form.plainPassword.second,  { 'label': false, 'attr' : {'data-required': '','data-validate': 'confirm','class': 'form-control', 'placeholder' : 'form.new_password_confirmation'|trans({}) } }) }}
                                    </div>
                                </div>

                                <div class="form-group clearfix">
                                    <label class="control-label"></label>
                                    <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}"/>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_bottom_scripts %}
{{parent()}}

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {
        $('#sel2').select2();

        {% if errors|length > 0 %}
            errMsg = "PASSWORD DO NOT MATCH";
            displayErrMsg(errMsg);
        {% endif %}


        $('#change-password-form').validate({
            onKeyup : true,
            eachValidField : function() {

                $(this).closest('div').removeClass('has-error').addClass('has-success');
            },
            eachInvalidField : function() {

                $(this).closest('div').removeClass('has-success').addClass('has-error');
            }
        });


        jQuery.validateExtend({
             "confirm" : {
                required : true,
                conditional: function(value){
                    return $('#fos_user_change_password_form_plainPassword_first').val() === value;
                }
            }
        });
    });
</script>
{% endblock %}