{% extends "MainBundle::layout.html.twig" %}

{% trans_default_domain 'MainBundle' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

<div class="col-lg-12">
<!--
    <div class="row">
        <div class="col-lg-12">
            <div id="content-page-title" class="col-lg-4 col-md-4 pull-left">
                <i class="fa fa-list-ol"></i> {{'Création de contrepartie'|trans({})}}
            </div>
        </div>
    </div>
-->
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>{{'Gestion d\'une contrepartie'|trans({})}}</h2>
                </header>

                <div class="main-box-body clearfix">
                    <div class="col-lg-12">
                        {{ form_start(form) }}

                        <div class="form-group clearfix {% if form.name.vars.errors|length %} has-error{% endif %}">
                            <div class="col-lg-1">
                                {{ form_label(form.name, null) }}
                            </div>
                            <div class="col-lg-11">
                                {{ form_widget(form.name,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Nom'|trans({}) } }) }}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>

                        <div class="form-group clearfix {% if form.reference.vars.errors|length %} has-error{% endif %}">
                            <div class="col-lg-1">
                                {{ form_label(form.reference, null) }}
                            </div>
                            <div class="col-lg-11">
                                {{ form_widget(form.reference,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Référence'|trans({}) } }) }}
                                {{ form_errors(form.reference) }}
                            </div>
                        </div>

                        <div class="form-group clearfix {% if form.social_reason.vars.errors|length %} has-error{% endif %}">
                            <div class="col-lg-1">
                                {{ form_label(form.social_reason, null) }}
                            </div>
                            <div class="col-lg-11">
                                {{ form_widget(form.social_reason,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Raison Sociale'|trans({}) } }) }}
                                {{ form_errors(form.social_reason) }}
                            </div>
                        </div>

                        <div class="form-group clearfix {% if form.siret.vars.errors|length %} has-error{% endif %}">
                            <div class="col-lg-1">
                                {{ form_label(form.siret, null) }}
                            </div>
                            <div class="col-lg-11">
                                {{ form_widget(form.siret,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Siret'|trans({}) } }) }}
                                {{ form_errors(form.siret) }}
                            </div>
                        </div>

                        <div class="form-group clearfix {% if form.address.vars.errors|length %} has-error{% endif %}">
                            <div class="col-lg-1">
                                {{ form_label(form.address, null) }}
                            </div>
                            <div class="col-lg-11">
                                {{ form_widget(form.address,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Adresse'|trans({}) } }) }}
                                {{ form_errors(form.address) }}
                            </div>
                        </div>

                        <div class="form-group clearfix {% if form.zipcode.vars.errors|length %} has-error{% endif %}">
                            <div class="col-lg-1">
                                {{ form_label(form.zipcode, null) }}
                            </div>
                            <div class="col-lg-11">
                                {{ form_widget(form.zipcode,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Code postal'|trans({}) } }) }}
                                {{ form_errors(form.zipcode) }}
                            </div>
                        </div>

                        <div class="form-group clearfix {% if form.country.vars.errors|length %} has-error{% endif %}">
                            <div class="col-lg-1">
                                {{ form_label(form.country, null) }}
                            </div>
                            <div class="col-lg-11">
                                {{ form_widget(form.country,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Pays'|trans({}) } }) }}
                            </div>
                        </div>

                        <div class="form-group clearfix {% if form.phone.vars.errors|length %} has-error{% endif %}">
                            <div class="col-lg-1">
                                {{ form_label(form.phone, null) }}
                            </div>
                            <div class="col-lg-11">
                                {{ form_widget(form.phone,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Téléphone'|trans({}) } }) }}
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <div class="col-xs-1">
                                {{ form_label(form.users) }}
                            </div>
                            {{ form_widget(form.users) }}
                        </div>
                        <div class="form-group clearfix">
                            {{form_widget(form.submit)}}
                            <a href="{{path('main_provider_listing')}}">
                                {{form_widget(form.button)}}
                            </a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_bottom_scripts %}

<!-- this page specific inline scripts -->

<script>
    $(document).ready(function() {

    });
</script>
{% endblock %}