{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/main/css/libs/bootstrap-wizard.css') }}" rel="stylesheet" />
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>{{'Liste des contreparties'|trans({})}}</h2>
            </header>

            <div class="main-box-body clearfix">
                 <a href="{{path('main_provider_create')}}" class="btn btn-primary email-compose-btn">
                    <i class="fa fa-plus"></i>
                    Ajouter contrepartie
                </a>

                <div class="">
                    <table id="table-providers" class="table table-hover">
                        <thead>
                            <tr>
                                <th><span>Référence</span></th>
                                <th><span>Raison sociale</span></th>
                                <th><span>SIRET</span></th>
                                <th><span>Adresse</span></th>
                                <th><span>Code postal</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prov in providers %}

                            <tr>
                                <td >{{prov.reference}}</td>
                                <td >{{prov.socialReason}}</td>
                                <td><span>{{prov.siret}}</span></td>
                                <td><span>{{prov.address}}</span></td>
                                <td><span>{{prov.zipcode}}</span></td>

                                <td style="width: 15%;">
                                    {# <a href="#" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a> #}
                                    <a href="{{path('main_provider_update', {'id': prov.id})}}" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="#" class="table-link danger">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block page_bottom_scripts %}

    <!-- this page specific scripts -->
    <script src="{{ asset('bundles/main/js/libs/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/dataTables.tableTools.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/jquery.dataTables.bootstrap.js') }}"></script>


<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {
        var table = $('#table-providers').dataTable({
            'info': false,
            "search": {
                "regex": true
            },
            language: {
                url : '{{ asset('bundles/main/js/libs/datatable.French.json') }}'
            }
    });

    function filterColumn ( i, val) {
        $('#table-offres').DataTable().column( i ).search(val, true, false).draw();
    }

    function createSearchString(){
        var searchString = '';
        var checkedValues = $('.level_filter:checked').map(function() {
            return $(this).attr('data-info');
        }).get();
        $.each(checkedValues, function( index, value ) {
          searchString += value;
          if (index <= checkedValues.length - 2) {
            searchString += "|";
          }
        });
        return searchString;
    }
    });
</script>
{% endblock %}