{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" id="register-form">

    {{ form_row(form._token) }}


{#
    <div class="form-group">
        <div class="input-group{% if form.username.vars.errors|length %} has-error{% endif %}">
            <span class="input-group-addon">
               <i class="fa fa-user"></i>
            </span>
            {{ form_widget(form.username,  { 'label': false, 'attr' : {'data-required': '', 'data-validate': 'username', 'class': 'form-control', 'placeholder' : 'Nom d\'utilisateur'|trans({}) } }) }}
        </div>
    </div>
#}

    <div class="form-group">
        <div class="input-group{% if form.email.vars.errors|length %} has-error{% endif %}">
            <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
            </span>
            {{ form_widget(form.email,  { 'label': false, 'attr' : {'data-required': '', 'data-validate': 'email', 'class': 'form-control', 'placeholder' : 'Email'|trans({}) } }) }}
        </div>
    </div>

    <div class="form-group">
        <div class="input-group{% if form.plainPassword.first.vars.errors|length %} has-error{% endif %}">
            <span class="input-group-addon">
                <i class="fa fa-lock"></i>
            </span>
            {{ form_widget(form.plainPassword.first,  { 'label': false, 'attr' : {'data-required': '', 'class': 'form-control', 'placeholder' : 'Mot de passe'|trans({}) } }) }}
        </div>
    </div>


    <div class="form-group">
        <div class="input-group{% if form.plainPassword.second.vars.errors|length %} has-error{% endif %}">
            <span class="input-group-addon">
                <i class="fa fa-lock"></i>
            </span>
            {{ form_widget(form.plainPassword.second,  { 'label': false, 'attr' : { 'data-required': '', 'data-validate': 'confirm','class': 'form-control', 'placeholder' : 'Confirmer mdp'|trans({}) } }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <input type="submit" value="{{ 'Valider'|trans }}" class="btn btn-warning col-xs-12" />
        </div>
    </div>
</form>

{% endblock fos_user_content %}

{% block page_bottom_scripts %}
    {{parent()}}
    <script type="text/javascript">
    $(document).ready(function(){

        var errMsg = null;

            {% if errors|length > 0 %}

                errMsg ="<ul>";
                {%- for error in errors -%}
                    errMsg += "<li>"+"{{error[0]}}"+"</li>";
                {%- endfor -%}
                errMsg += "</ul>";

                displayErrMsg(errMsg);
            {% endif %}
        });

        $('#register-form').validate({
                onKeyup : true,
                eachValidField : function() {

                    $(this).closest('div').removeClass('has-error').addClass('has-success');
                },
                eachInvalidField : function() {

                    $(this).closest('div').removeClass('has-success').addClass('has-error');
                }
            });

        jQuery.validateExtend({
            "email" : {
                required : true,
                pattern : /^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
            },
            "username" : {
                required : true,
                pattern : /^[a-zA-Z0-9]+$/
            },
             "confirm" : {
                required : true,
                conditional: function(value){
                    return $('#fos_user_registration_form_plainPassword_first').val() === value;
                }
            }
        });
    </script>
{% endblock %}
