<div class="container">
    <a href="index.html" id="logo" class="navbar-brand">
        <i class="fa fa-folder-open-o fa-2"></i>
        <span class="logo-title">HerbaDoc</span>
    </a>

    <div class="clearfix">
        <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>

        <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
            <ul class="nav navbar-nav pull-left">
                <li>
                    <a class="btn" id="make-small-nav">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="nav-no-collapse pull-right" id="header-nav">
            <ul class="nav navbar-nav pull-right">
                <li class="mobile-search">
                    <a class="btn">
                        <i class="fa fa-search"></i>
                    </a>

                    <div class="drowdown-search">
                        <form role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="fa fa-search nav-search-icon"></i>
                            </div>
                        </form>
                    </div>

                </li>
                <li class="dropdown profile-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="https://scontent-ams.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/1507083_900680386610181_2438684558860658775_n.jpg?oh=5c83b54ae1e516ae2843f59e912b1fb5&oe=5548DE01" alt=""/>
                        <span class="hidden-xs">Valentin Maior</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="user-profile.html"><i class="fa fa-user"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
                        <li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
                        <li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </li>
                <li class="hidden-xxs">
                    <a class="btn">
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>