{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
        <span class="help-block">
            {{ error.message }}
        </span>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}