{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block bootstrap_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_vars = {} %}
            {% if style is defined %}
                {% set prototype_vars = prototype_vars|merge({'style': style}) %}
            {% endif %}
            {% set prototype_html = '<div class="col-xs-' ~ form.vars.sub_widget_col ~ '">' ~ form_widget(prototype, prototype_vars) ~ '</div>' %}
            {% if form.vars.allow_delete %}
                    {% if form.vars.delete_button_text != "" %}
                        {% set btnDelete = form.vars.delete_button_text|trans({}, translation_domain)|parse_icons|raw %}
                    {% else %}
                        {% set btnDelete = '<i class="fa fa-minus"></i>' %}
                    {% endif %}

                {% set prototype_html = prototype_html ~ '<div class="col-xs-' ~ form.vars.button_col ~ '"><a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="__id__">' ~ btnDelete ~ '</a></div>' %}
            {% endif %}
            {% set prototype_html = '<div class="row">' ~ prototype_html ~ '</div>' %}

            {% set attr = attr|merge({'data-prototype': prototype_html }) %}
            {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} class="{{'col-xs-'~ form.vars.attr.colspread}}">
            <ul class="bc-collection list-unstyled">
                {% for field in form %}
                    <li>
                        <div class="row">
                            <div class="col-xs-{{ form.vars.sub_widget_col }}">
                                {{ form_widget(field) }}
                                {{ form_errors(field) }}
                            </div>
                            {% if form.vars.allow_delete %}
                                <div class="col-xs-{{ form.vars.button_col }}">
                                    <a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="{{ field.vars.id }}"><i class="fa fa-minus"></i></a>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if form.vars.allow_add %}
                <a href="#" class="btn btn-primary btn-sm" data-addfield="collection" data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                    {% if form.vars.add_button_text != "" %}
                        {{ form.vars.add_button_text|trans({}, translation_domain)|parse_icons|raw }}
                    {% else %}
                        <i class="fa fa-plus"></i>
                    {% endif %}
                </a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock bootstrap_collection_widget %}

{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ block('global_form_errors') }}
            {% endif %}
            <div class="form-inline">
                {% for field in form %}
                    <div class="col-xs-3">
                        {{ form_widget(field,  { 'label': false, 'attr' : {'class': '', 'style':'width: 100%;', 'placeholder' : field.vars.name|trans({}) } }) }}
                    </div>
                {% endfor %}
                <br><br>
            </div>
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}