{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/main/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/libs/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/compiled/theme_styles.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/landing.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/libs/ns-default.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/libs/ns-style-bar.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/libs/ns-style-theme.css') }}" rel="stylesheet" />
{% endblock %}

{% block js_scripts %}
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/main/js/libs/modernizr.custom.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/classie.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/notificationFx.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/jquery-validate.min.js') }}"></script>
{% endblock %}

{% trans_default_domain 'UserBundle' %}

{% block page %}
<body class="landing">


</body>
{% endblock %}

{% block page_bottom_scripts %}
    <script type="text/javascript">
    $(document).ready(function(){

        function displayErrMsg(errMsg, type, effect){
            var msgType = (type !== undefined) ? type : 'error';
            var msgEffect = (effect !== undefined) ? effect : 'slidetop';

            // create the notification
            var notification = new NotificationFx({
                message : '<span class="icon fa fa-bullhorn fa-2x"></span><p>'+errMsg+'</p>',
                wrapper: document.body,
                layout : 'bar',
                effect : msgEffect,
                type : msgType, // notice, warning or error
                onClose : function() {

                }
            });

            // show the notification
            notification.show();

        };

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                var flashMsg = '{{message}}';
                displayErrMsg(flashMsg, '{{type}}')
            {% endfor %}
        {% endfor %}

        $('#login-form').validate({
                onKeyup : true,
                eachValidField : function() {

                    $(this).closest('div').removeClass('has-error').addClass('has-success');
                },
                eachInvalidField : function() {

                    $(this).closest('div').removeClass('has-success').addClass('has-error');
                }
            });

        jQuery.validateExtend({
            _username : {
                required : true,
                //pattern : /^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
                pattern : /^\d{10}$/
            }
        });



        var errMsg = null;
        {% if error %}
            errMsg = "{{ error.messageKey|trans(error.messageData, 'security') }}";
            displayErrMsg(errMsg);
        {% endif %}

    </script>
{% endblock %}
