{% extends 'MainBundle::layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/main/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/libs/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/compiled/theme_styles.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/landing.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/libs/ns-default.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/libs/ns-style-bar.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/libs/ns-style-theme.css') }}" rel="stylesheet" />
{% endblock %}

{% block js_scripts %}
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/main/js/libs/modernizr.custom.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/classie.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/notificationFx.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/jquery-validate.min.js') }}"></script>
{% endblock %}

{% block page %}
<body id="login-page-full">
    <div id="vcenter">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="login-box">
                        <div class="row">
                            <div class="col-xs-12">
                                <header id="login-header">
                                    <div class="bg-blue-sky" id="login-logo">
                                        <img src="{{ asset('bundles/main/img/logo.png') }}">
                                    </div>
                                </header>
                                <div id="login-box-inner">
                                    {% for type, messages in app.session.flashbag.all() %}
                                        {% for message in messages %}
                                            <div class="flash-{{ type }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}

                                    {% block fos_user_content %}
                                    {% endblock fos_user_content %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock page %}

{% block page_bottom_scripts %}
    <script type="text/javascript">
    function displayErrMsg(errMsg, type, effect){
    var msgType = (type !== undefined) ? type : 'error';
    var msgEffect = (effect !== undefined) ? effect : 'slidetop';

    // create the notification
    var notification = new NotificationFx({
    message : '<span class="icon fa fa-bullhorn fa-2x"></span><p>'+errMsg+'</p>',
    wrapper: document.body,
    layout : 'bar',
    effect : msgEffect,
    type : msgType, // notice, warning or error
    onClose : function() {

    }
    });

    // show the notification
    notification.show();

    };
        </script>
{% endblock %}