{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>Création appel d'offre.</h2>
            </header>

            <div class="main-box-body clearfix">
                <div class="col-lg-12">
                    {{ form_start(form) }}
                    <div class="form-group clearfix">
                        <div class="col-lg-2">
                            {{ form_label(form.reference, null) }}
                        </div>
                        <div class="col-lg-10">
                            {{ form_widget(form.reference,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Référence'|trans({}) } }) }}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-2">
                            {{ form_label(form.duration, null) }}
                        </div>
                        <div class="col-lg-10">
                            {{ form_widget(form.duration,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Durée de l\'appel d\'offre'|trans({}) } }) }}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-2">
                            {{ form_label(form.year, null) }}
                        </div>
                        <div class="col-lg-10">
                            {{ form_widget(form.year,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Année'|trans({}) } }) }}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-xs-2">
                            {{ form_label(form.contents) }}
                        </div>
                        {{ form_widget(form.contents) }}
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-2">
                            {{ form_label(form.validated, null, { 'label_attr' : {'class': ''}}) }}
                        </div>
                        <div class="col-lg-10">
                            {{ form_widget(form.validated,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'Validé'|trans({}) } }) }}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        {{form_widget(form.submit)}}
                        <a href="{{path('main_offer_listing')}}">
                            {{form_widget(form.button)}}
                        </a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_bottom_scripts %}

<!-- this page specific inline scripts -->

<script>
    $(document).ready(function() {

    });
</script>
{% endblock %}