<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>Detail de l'appel d'offre.</h2>
            </header>

            <div class="main-box-body clearfix">
                <div class="col-lg-12">

                    <div class="form-group clearfix">
                        <div class="col-lg-2">
                            {{ form_label(form.reference, null) }}
                        </div>
                        <div class="col-lg-4">
                            {{ form_widget(form.reference,  { 'label': false, 'attr' : {'readonly': 'readonly', 'class': 'form-control', 'placeholder' : 'Référence'|trans({}) } }) }}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-2">
                            {{ form_label(form.duration, null) }}
                        </div>
                        <div class="col-lg-4">
                            {{ form_widget(form.duration,  { 'label': false, 'attr' : {'readonly': 'readonly', 'class': 'form-control', 'placeholder' : 'Durée de l\'appel d\'offre'|trans({}) } }) }}
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <div class="col-lg-2">
                            {{ form_label(form.year, null) }}
                        </div>
                        <div class="col-lg-4">
                            {{ form_widget(form.year,  { 'label': false, 'attr' : {'readonly': 'readonly', 'class': 'form-control', 'placeholder' : 'Année'|trans({}) } }) }}
                        </div>
                    </div>

                     <div class="form-group clearfix">
                        <div class="col-lg-2">
                            {{ form_label(form.contents, null) }}
                        </div>
                        <div class="col-lg-10">
                            <ul class="bc-collection list-unstyled">
                                {% for product in offer.contents %}
                                <li>
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <div id="mainbundle_offer_contents_0">
                                                <div class="form-inline">
                                                    <div class="col-xs-3">
                                                        <input type="text" id="" name="" readonly="readonly" placeholder="volume" class="form-control" style="width: 100%;" value="{{ product.type }}">
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <input type="text" id="" name="" readonly="readonly" placeholder="volume" class="form-control" style="width: 100%;" value="{{ product.volume }}">
                                                    </div>
                                                    <br><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>