{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>Choix contrepartie</h2>
                </header>
                <div class="main-box-body clearfix">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <h4><strong>Produits demandees</strong></h4>
                            <table class="table table-condensed">
                                {% for product,line in products %}
                                <tr>
                                    <td class="cols-sm-5">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <strong>Produit {{ product }}</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                Volume
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-10 col-xs-12">
                                                <input type="text" id="" name="" readonly="readonly" placeholder="volume" class="form-control" value="{{ line.volume}}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                Prix moyen
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-10 col-xs-12">
                                                <input type="text" id="" name="" readonly="readonly" placeholder="volume" class="form-control" value="{{ line.prix / line.count}} &euro;">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-sm-7" style="vertical-align: top">
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <th>Contrepartie</th>
                                                <th>Volume propose</th>
                                                <th>Prix total</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for response in offer.responses %}
                                                {% for proposal in response.proposals %}
                                                    {% if product == proposal.product.product.name %}
                                                        <tr>
                                                            <td>{{ response.user.provider.name }}</td>
                                                            <td>{{ proposal.volume }}</td>
                                                            <td>{{ proposal.volume * proposal.prix }} &euro;</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div><br /><br />
                    <div class="row">
                        <div class="col-sm-7 col-xs-12">
                            <div class="alert alert-success">
                                <i class="fa fa-check-circle fa-fw fa-lg"></i>
                                Meilleure offre financièrement - <strong>Fournisseur A</strong>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <button class="btn btn-primary chooseFrns" data-url="{{ path('main_offer_close', {'provider' : 1, 'offer' : offer.id}) }}">Sélectionner et clôturer l'offre</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 col-xs-12">
                            <div class="alert alert-info">
                                <i class="fa fa-check-circle fa-fw fa-lg"></i>
                                Meilleure offre volumétriquement - <strong>Fournisseur A</strong>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <button class="btn btn-primary chooseFrns" data-url="{{ path('main_offer_close', {'provider' : 1, 'offer' : offer.id}) }}">Sélectionner et clôturer l'offre</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% for response in offer.responses %}
                                <table class="table table-condensed table-striped">
                                    <thead>
                                    <tr>
                                        <th>Contrepartie</th>
                                        <th>Produit propose</th>
                                        <th>Volume propose</th>
                                        <th>Prix total</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ response.user.provider.name }}</td>
                                        <td>
                                            {% for proposal in response.proposals %}
                                                <div>{{ proposal.product.product.name }}</div>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% set prixTotal = 0 %}
                                            {% for proposal in response.proposals %}
                                                <div>{{ proposal.volume }}</div>
                                                {% set prixTotal = prixTotal + proposal.volume * proposal.prix %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ prixTotal }} &euro;</td>
                                        <td><button class="btn btn-primary chooseFrns" data-url="{{ path('main_offer_close', {'provider' : response.user.provider.id, 'offer' : offer.id}) }}">Selectionner et cloturer l'offre</button> </td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_bottom_scripts %}

    <!-- this page specific inline scripts -->

    <script>
        $(document).ready(function() {
            $('button.chooseFrns').on('click', function(e){
                e.preventDefault();
                $.ajax({
                    url  : $(this).data('url'),
                    type : 'post',
                    success: function(){
                        window.location = '{{ path('dashboard_index') }}'
                    }
                })
            })
        });
    </script>
{% endblock %}