{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Offer list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Durée</th>
                <th>Year</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('crud-offer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.reference }}</td>
                <td>{{ entity.duration }}</td>
                <td>{{ entity.year }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('crud-offer_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('crud-offer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('crud-offer_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
