{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/main/css/libs/bootstrap-wizard.css') }}" rel="stylesheet" />
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>{{'Liste des appels d\'offre'|trans({})}}</h2>
            </header>

            <div class="main-box-body clearfix">
                <div class="">
                    <table id="table-offres" class="table table-hover">
                        <thead>
                            <tr>
                                <th><span>Référence</span></th>
                                <th><span>Durée</span></th>
                                <th><span>Année</span></th>
                                <th><span>Produits</span></th>
                                <th><span>Volume</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in offers %}

                            <tr>
                                <td >{{offer.reference}}</td>
                                <td >{{offer.duration}}</td>
                                <td><span>{{offer.year}}</span></td>
                                <td>
                                    <ol class="table-ol">
                                    {% for product in offer.contents %}
                                        <li>{{product.type}}</li>
                                    {% endfor %}
                                    </ol>
                                </td>
                                <td>
                                    <ol class="table-ol">
                                    {% for product in offer.contents %}
                                        <li>{{product.volume}}</li>
                                    {% endfor %}
                                    </ol>
                                </td>
                                <td style="width: 15%;">

                                    {% if role_fournisseurs in app.user.roles %}
                                        {% if repondus is defined %}
                                            <a href="{{path('main_response_show', {'id': offer.id})}}" class="table-link" title="Visualiser votre reponse">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        {% else %}
                                            <a href="{{path('main_response_view', {'id': offer.id})}}" class="table-link" title="Repondre à l'appel d'offre">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        {% if not offer.validated %}
                                            <a href="{{path('main_offer_update', {'id': offer.id})}}" class="table-link">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        {% endif %}

                                        {% if offer.validated and offer.completed %}
                                           <a href="#" class="table-link success">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>

                                            <a href="#" class="table-link success">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>

                                        {% else %}

                                            {% if offer.validated %}
                                                <a href="#" class="table-link success">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>

                                                <a href="#" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            {% else %}
                                                <a href="#" class="table-link default">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-ban fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            {% endif %}
                                        {% endif %}

                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_bottom_scripts %}

    <!-- this page specific scripts -->
    <script src="{{ asset('bundles/main/js/libs/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/dataTables.tableTools.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/jquery.dataTables.bootstrap.js') }}"></script>


<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {
        var table = $('#table-offres').dataTable({
            'info': false,
            "search": {
                "regex": true
            },
            language: {
                url : '{{ asset('bundles/main/js/libs/datatable.French.json') }}'
            }
    });

    $('.datatable').each(function(){
        var datatable = $(this);
        // SEARCH - Add the placeholder for Search and Turn this into in-line formcontrol
        var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
        search_input.attr('placeholder', 'Recherche');
        search_input.addClass('form-control input-small');
        search_input.css('width', '250px');

        // SEARCH CLEAR - Use an Icon
        var clear_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] a');
        clear_input.html('<i class="icon-remove-circle icon-large"></i>')
        clear_input.css('margin-left', '5px')

        // LENGTH - Inline-Form control
        var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
        length_sel.addClass('form-control input-small')
        length_sel.css('width', '75px')

        // LENGTH - Info adjust location
        var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_info]');
        length_sel.css('margin-top', '18px')
    });

    function filterColumn ( i, val) {
        $('#table-offres').DataTable().column( i ).search(val, true, false).draw();
    }

    });
</script>
{% endblock %}