{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

    {% include 'MainBundle:Offer:details.html.twig' with {'form' : form, 'offer': entity} %}

{% endblock %}

{% block page_bottom_scripts %}

<!-- this page specific inline scripts -->

<script>
    $(document).ready(function() {

    });
</script>
{% endblock %}