<div id="email-navigation" class="hidden-xs hidden-sm">
    <div class="">
        <a href="{{path('main_message_compose')}}" class="btn btn-success email-compose-btn">
            <i class="fa fa-pencil-square-o"></i> Composer un email
        </a>

        <ul id="email-nav-items" class="clearfix">
            <li class="active">
                <a href="#">
                    <i class="fa fa-inbox"></i>
                    Boîte de reception
                    <span class="label label-primary pull-right">83</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    Envoyés
                    <span class="label label-default pull-right">11</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-trash-o"></i>
                    Corbeille
                    <span class="label label-default pull-right">1,292</span>
                </a>
            </li>
        </ul>
    </div>

</div>