

    <div class="row">
        <div class="col-lg-12">

            <div id="email-header-mobile" class="visible-xs visible-sm clearfix">
                <div id="email-header-title-mobile" class="pull-left">
                    <i class="fa fa-inbox"></i> Messagerie
                </div>

                <a href="#" id="composeEmailMessage" data-url="{{path('main_message_compose')}}" data-response="email-content" class="btn btn-success email-compose-btn">
                    <i class="fa fa-pencil-square-o"></i> Composer un email
                </a>
            </div>


            <header id="email-header" class="clearfix">
                {% if page is defined %}
                    <div id="email-header-tools">
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle has-tooltip" type="button" title="Select">
                                <i class="fa fa-square-o"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tous</a></li>
                                <li><a href="#">Aucun</a></li>
                                <li><a href="#">Lu</a></li>
                                <li><a href="#">Non lu</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-primary" type="button" title="Erase" data-toggle="tooltip" data-placement="bottom">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                        <div class="btn-group">
                            <a href="{{path('main_message_compose')}}" id="composeEmailMessage" data-url="{{path('main_message_compose')}}" data-response="email-content" class="btn btn-success email-compose-btn">
                                <i class="fa fa-pencil-square-o"></i> Composer un email
                            </a>
                        </div>
                    </div>
                    <div id="email-header-title" class="visible-md visible-lg">
                        <i class="fa fa-inbox"></i> Messagerie
                    </div>
                {% else %}
                     <div id="email-header-tools">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{{path('main_message_inbox')}}">
                            <i class="fa fa-chevron-left"></i> Liste des messages
                            </a>
                        </div>
                    </div>
                {% endif %}
            </header>
        </div>
    </div>