<div id="email-navigation" class="hidden-xs hidden-sm">
    <div class="">
        <a href="#" id="composeEmailMessage" data-url="{{path('main_message_compose')}}" data-response="email-content" class="btn btn-success email-compose-btn">
            <i class="fa fa-pencil-square-o"></i> Composer un email
        </a>

        <ul id="email-nav-items" class="clearfix">
            <li class="active">
                <a href="#" id="viewInbox" data-url="/message/inbox" data-response="email-content">
                    <i class="fa fa-inbox"></i>
                    Boîte de reception
                    <span id="inboxMessages" class="label label-primary pull-right">83</span>
                </a>
            </li>
            <li>
                <a href="#" id="viewSent" data-url="/message/inbox" data-response="email-content">
                    <i class="fa fa-envelope"></i>
                    Envoyés
                    <span id="sentMessages" class="label label-default pull-right">11</span>
                </a>
            </li>
            <li>
                <a href="#" id="viewTrash" data-url="/message/inbox" data-response="email-content">
                    <i class="fa fa-trash-o"></i>
                    Corbeille
                    <span id="trashMessages" class="label label-default pull-right">1,292</span>
                </a>
            </li>
        </ul>
    </div>

</div>