{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path("fos_user_security_check") }}" method="post" id="login-form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur" data-required
                       data-validate="_username" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                </span>
                <input type="password" id="password" name="_password" data-required required="required" class="form-control" placeholder="Mot de passe" />
            </div>
        </div>

        {#
        <div id="remember-me-wrapper">
            <div class="row">
                <div class="col-xs-6">
                    <div class="checkbox-nice">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked="checked" value="on" />
                        <label for="remember_me">
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                </div>
                <a href="{{ path("forgot-password") }}" id="login-forget-link" class="col-xs-6">
                    {{ 'security.login.forgot_password'|trans }}
                </a>
            </div>
        </div>
        #}
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" id="_submit" name="_submit" value="{{ 'Valider'|trans }}" class="btn btn-warning col-xs-12" />
            </div>
        </div>
    </form>

{% endblock fos_user_content %}

{% block page_bottom_scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {

            {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
            var flashMsg = '{{message}}';
            displayErrMsg(flashMsg, '{{type}}')
            {% endfor %}
            {% endfor %}

            $('#login-form').validate({
                onKeyup: true,
                eachValidField: function () {

                    $(this).closest('div').removeClass('has-error').addClass('has-success');
                },
                eachInvalidField: function () {

                    $(this).closest('div').removeClass('has-success').addClass('has-error');
                }
            });

            jQuery.validateExtend({
                _username: {
                    required: true,
                    pattern : /^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
                    //pattern: /^[+a-zA-Z0-9]+$/
                }
            });


            var errMsg = null;
            {% if error %}
            errMsg = "{{ error.messageKey|trans(error.messageData, 'security') }}";
            displayErrMsg(errMsg);
            {% endif %}
        });
    </script>
{% endblock %}