{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <form action="" method="post">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                </span>
                <input type="text" name="code" data-required required="required" class="form-control" placeholder="Code" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <input type="submit" id="_submit" name="_submit" value="{{ 'Valider'|trans }}" class="btn btn-warning col-xs-12" />
            </div>
        </div>
    </form>

    <div class="row">
        <form action="" method="post">
            <div class="col-xs-12">
                <input type="hidden" name="resend_code" value="1"/>
                <input type="submit" value="{{ 'Resend Code'|trans }}" class="btn btn-primary col-xs-12" />
            </div>
        </form>
    </div>

{% endblock fos_user_content %}
