{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/main/css/libs/bootstrap-wizard.css') }}" rel="stylesheet" />
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

<div class="col-lg-12">

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                <div id="content-page-title" class="visible-md visible-lg">
                    <i class="fa fa-user"></i> {{'Profil'|trans({})}}
                </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="col-lg-3">
                        <div class="wizard-steps" >
                            <ul class="nav nav-list" >
                                <li class="wizard-nav-item active">
                                    <a class="wizard-nav-link">
                                        <i class="icon-chevron-right"></i>{{'Date personale'|trans({})}}
                                    </a>
                                </li>
                                <li class="wizard-nav-item">
                                    <a href="{{path('profile-settings')}}" class="wizard-nav-link">
                                        <i class="icon-chevron-right"></i>{{'Setari'|trans({})}}
                                    </a>
                                </li>
                                <li class="wizard-nav-item">
                                    <a href="{{path('profile-change-password')}}" class="wizard-nav-link">
                                        <i class="icon-chevron-right"></i>{{'Schimba parola'|trans({})}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="
                        fos_user_profile_edit" role="form">
                            {{ form_widget(form._token) }}
                            <!-- left column -->
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img src="{{ user.getWebPath() }}" class="avatar img-responsive" alt="avatar"/>
                                    <h6>Schimba imaginea ...</h6>
                                    <input type="file" id="fos_user_profile_form_file" name="fos_user_profile_form[file]"  class="form-control">
                                </div>
                            </div>

                            <!-- edit form column -->
                            <div class="col-md-7 ">
                                <div class="personal-info clearfix">
                                    <div class="form-group clearfix">
                                        <div class="col-lg-3">
                                            {{ form_label(form.firstName, null) }}
                                        </div>
                                        <div class="col-lg-9">
                                            {{ form_widget(form.firstName,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'form.firstName'|trans({}) } }) }}
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="col-lg-3">
                                            {{ form_label(form.lastName, null) }}
                                        </div>
                                        <div class="col-lg-9">
                                            {{ form_widget(form.lastName,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'form.lastName'|trans({}) } }) }}
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="col-lg-3">
                                            {{ form_label(form.email, null) }}
                                        </div>
                                        <div class="col-lg-9">
                                            {{ form_widget(form.email,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'form.email'|trans({}) } }) }}
                                        </div>
                                    </div>
                                    <div class="form-group clearfix clearfix">
                                        <div class="col-lg-3">
                                            {{ form_label(form.username, null) }}
                                        </div>
                                        <div class="col-lg-9">
                                            {{ form_widget(form.username,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'form.username'|trans({}) } }) }}
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="col-lg-3">
                                            {{ form_label(form.city, null) }}
                                        </div>
                                        <div class="col-lg-9">
                                            {{ form_widget(form.city,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'form.city'|trans({}) } }) }}
                                        </div>
                                    </div>
                                    <div class="form-group form-group-select2 clearfix">
                                        <div class="col-lg-3">
                                            Judet
                                        </div>
                                        <div class="col-lg-9">
                                            <select style="width:100%;"  id="sel2">
                                                <option value="United States">United States</option>
                                                <option value="United Kingdom">United Kingdom</option>
                                                <option value="Afghanistan">Afghanistan</option>
                                                <option value="Albania">Albania</option>
                                                <option value="Algeria">Algeria</option>
                                                <option value="American Samoa">American Samoa</option>
                                                <option value="Andorra">Andorra</option>
                                                <option value="Angola">Angola</option>
                                                <option value="Anguilla">Anguilla</option>
                                                <option value="Antarctica">Antarctica</option>
                                                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                <option value="Argentina">Argentina</option>
                                                <option value="Armenia">Armenia</option>
                                                <option value="Aruba">Aruba</option>
                                                <option value="Australia">Australia</option>
                                                <option value="Austria">Austria</option>
                                                <option value="Azerbaijan">Azerbaijan</option>
                                                <option value="Slovakia">Slovakia</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="col-lg-3">
                                            {{ form_label(form.birthDate, null) }}
                                        </div>
                                        <div class="col-lg-9">
                                            {{ form_widget(form.birthDate,  { 'label': false, 'attr' : {'class': 'form-control', 'placeholder' : 'form.birthDate'|trans({}) } }) }}
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="control-label"></label>
                                        <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_bottom_scripts %}
{{parent()}}

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {
        $('#sel2').select2();
    });
</script>
{% endblock %}