{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/main/css/libs/bootstrap-wizard.css') }}" rel="stylesheet" />
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

<div class="col-lg-12">

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box">
                <header class="main-box-header clearfix">
                <div id="content-page-title" class="visible-md visible-lg">
                    <i class="fa fa-user"></i> {{'Profil'|trans({})}}
                </div>
                </header>
                <div class="main-box-body clearfix">
                    <div class="col-lg-3">
                        <div class="wizard-steps" >
                            <ul class="nav nav-list" >
                                <li class="wizard-nav-item">
                                    <a href="{{path('profile-edit')}}" class="wizard-nav-link">
                                        <i class="icon-chevron-right"></i>{{'Date personale'|trans({})}}
                                    </a>
                                </li>
                                <li class="wizard-nav-item active">
                                    <a class="wizard-nav-link">
                                        <i class="icon-chevron-right"></i>{{'Setari'|trans({})}}
                                    </a>
                                </li>
                                <li class="wizard-nav-item">
                                    <a href="{{path('profile-change-password')}}" class="wizard-nav-link">
                                        <i class="icon-chevron-right"></i>{{'Schimba parola'|trans({})}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        ADD SETTINGS FORM
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_bottom_scripts %}
{{parent()}}

<!-- this page specific inline scripts -->
<script>
    $(document).ready(function() {
        $('#sel2').select2();
    });
</script>
{% endblock %}