<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <div id="email-header-title" class="visible-md visible-lg">
                    <i class="fa fa-inbox"></i> Messagerie
                </div>
            </header>

            <div class="main-box-body clearfix">
                <table id="table-emails" class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th><span>De</span></th>
                        <th><span>Sujet</span></th>
                        <th><span>Date</span></th>
                        <th><span>Appel d'offre associe</span></th>
                        <th><span>Acceder</span></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if threads %}
                            {% for thread in threads %}
                            <tr>
                                <td>{{ thread.createdBy }}</td>
                                <td>{{ thread.subject }}</td>
                                <td>{{ thread.createdAt|date }}</td>
                                <td>
                                    {% if thread.offer is defined and thread.offer != null %}
                                        {{ thread.offer.reference }}
                                    {% endif %}</td>
                                <td>
                                    <a href="{{path('main_message_detail', {'threadId':thread.id})}}" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>