<!-- global scripts -->

    <!-- <script src="js/jquery.js"></script> -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- <script src="js/bootstrap.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/main/js/libs/jquery.nanoscroller.min.js') }}"></script>

    <!-- this page specific scripts -->

    <!-- theme scripts -->
    <script src="{{ asset('bundles/main/js/libs/scripts.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/pace.min.js') }}"></script>

    <!-- Notifications/Alerts -->
    <script src="{{ asset('bundles/main/js/libs/modernizr.custom.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/classie.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/notificationFx.js') }}"></script>

    <!-- Bootstrap collection-->
    <script src="{{ asset('bundles/main/js/bc-bootstrap.js') }}"></script>