<div id="nav-col">
    <section id="col-left" class="col-left-nano">
        <div id="col-left-inner" class="col-left-nano-content">
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">

                {% if role_fournisseurs in app.user.roles %}

                    <ul class="nav nav-pills nav-stacked">
                        <li class="open">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-envelope"></i>
                                <span>{{'Messages'|trans({})}}</span>
                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                            </a>
                            <ul class="submenu" style="display:block;">
                                <li>
                                    <a href="{{path('main_message_inbox')}}">
                                        Liste des messages
                                        <span class="label label-primary pull-right">{{ app.session.get('unreadNumberOfMessages') }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('main_message_compose')}}">
                                        Rédiger un message
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="open">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-database"></i>
                                <span>{{'Gestion des AO'|trans({})}}</span>
                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                            </a>
                            <ul class="submenu" style="display:block;">
                                <li>
                                    <a href="{{path('main_offer_listing')}}">
                                        Liste des AO (RFx)
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('main_offer_listing_answered')}}">
                                        Mes appels d'offre
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="open">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-dashboard"></i>
                                <span>{{'Administration'|trans({})}}</span>
                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                            </a>
                            <ul class="submenu" style="display:block;">
                                <li>
                                    <a href="">
                                        Mon compte
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Mes rapports
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                {% else %}

                    <ul class="nav nav-pills nav-stacked">
                        <li class="open">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-envelope"></i>
                                <span>{{'Messages'|trans({})}}</span>
                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                            </a>
                            <ul class="submenu" style="display:block;">
                                <li>
                                    <a href="{{path('main_message_inbox')}}">
                                        Liste des messages
                                        <span class="label label-primary pull-right">{{ app.session.get('unreadNumberOfMessages') }}</span>
                                    </a>
                                </li>
                                <li>
                                   <a href="{{path('main_message_compose')}}">
                                        Rédiger un message
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="open">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-database"></i>
                                <span>{{'Gestion des AO'|trans({})}}</span>
                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                            </a>
                            <ul class="submenu" style="display:block;">
                                <li>
                                    <a href="{{path('main_offer_listing')}}">
                                        Liste des AO (RFx)
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('main_offer_creation')}}">
                                        Créer un appel d'offre
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="open">
                            <a href="#" class="dropdown-toggle">
                                <i class="fa fa-dashboard"></i>
                                <span>{{'Administration'|trans({})}}</span>
                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                            </a>
                            <ul class="submenu" style="display:block;">
                                <li>
                                    <a href="">
                                        Mon compte
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('main_provider_listing')}}">
                                        Gérer les contreparties
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Mes rapports
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                {% endif %}
            </div>
        </div>
    </section>
</div>