<div class="row">
    {%  if "ROLE_EDF" in roles %}
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>{{'Liste des appels d\'offre ouverts'|trans({})}}</h2>
            </header>

            <div class="main-box-body clearfix">
                <table id="table-offres" class="table table-hover">
                    <thead>
                    <tr>
                        <th><span>Titre</span></th>
                        <th><span>Date de depot</span></th>
                        <th><span>Durée</span></th>
                        <th><span>Nombre de participants</span></th>
                        <th><span>Nombre de réponses</span></th>
                        <th><span>Acceder</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if allOffers %}
                        {% for offer in allOffers %}
                            <tr>
                                <td>{{ offer.reference }}</td>
                                <td>{{ offer.createdAt|date }}</td>
                                <td>{{ offer.duration }}</td>
                                <td>{% if offer.responses is defined %} {{ offer.responses|length }} {% else %} 0 {% endif %}</td>
                                <td>{% if offer.responses is defined %} {{ offer.responses|length }} {% else %} 0 {% endif %}</td>
                                <td>
                                    <a href="{{ path('main_offer_suivi', {'id' : offer.id}) }}" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                                            </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
        <div class="col-lg-6">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>{{'Liste des appels d\'offre ouverts'|trans({})}}</h2>
                </header>

                <div class="main-box-body clearfix">
                    <table id="table-participants" class="table table-hover">
                        <thead>
                        <tr>
                            <th><span>Titre</span></th>
                            <th><span>Date de depot</span></th>
                            <th><span>Date de fin</span></th>
                            <th><span>Acceder</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if allOffers %}
                            {% for offer in allOffers %}
                            <tr>
                                <td>{{ offer.reference }}</td>
                                <td>{{ offer.createdAt|date }}</td>
                                <td>{{ offer.duration }}</td>
                                <td>
                                    <a href="{{ path('main_offer_detail', {'id' : offer.id}) }}" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>{{'Liste des appels d\'offre participants'|trans({})}}</h2>
                </header>

                <div class="main-box-body clearfix">
                    <table id="table-participants" class="table table-hover">
                        <thead>
                        <tr>
                            <th><span>Titre</span></th>
                            <th><span>Date de depot</span></th>
                            <th><span>Durée</span></th>
                            <th><span>Acceder</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for myOffer in myOffers %}
                            <tr>
                                <td>{{myOffer.reference}}</td>
                                <td>{{myOffer.createdAt|date('Y-m-d')}}</td>
                                <td>{{myOffer.duration}}</td>
                                <td>
                                    <a href="{{path('main_response_view', {'id': myOffer.id})}}" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif  %}
</div>