{#
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" /><!-- bootstrap --> #}
    <link href="{{ asset('bundles/main/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" />

    <!--
    If you need RTL support just include here RTL CSS file <link rel="stylesheet" type="text/css" href="css/libs/bootstrap-rtl.min.css" />
    And add "rtl" class to <body> element - e.g. <body class="rtl">
    -->

    <!-- libraries -->
    <link href="{{ asset('bundles/main/css/libs/font-awesome.min.css') }}" rel="stylesheet" />
    <!-- global styles -->
    <link href="{{ asset('bundles/main/css/compiled/theme_styles.css') }}" rel="stylesheet" />

    <link href="{{ asset('bundles/main/css/base.css') }}" rel="stylesheet" />

    <link href="{{ asset('bundles/main/css/libs/ns-default.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/libs/ns-style-bar.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/main/css/libs/ns-style-theme.css') }}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}