{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

<div class="col-lg-12">

    <div class="row">
        <div class="col-lg-12">
            <div id="content-page-title" class="col-lg-4 col-md-4 pull-left">
                <i class="fa fa-pencil"></i> {{'Création'|trans({})}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>{{'Réponse appel d\'offre'|trans({})}}</h2>
                </header>

                <div class="main-box-body clearfix">
                    <div class="col-lg-12">

                         {% include 'MainBundle:Response:form_create.html.twig' %}

                        <div class="form-group clearfix">
                            <button type="submit" id="mainbundle_offer_submit" name="mainbundle_offer[submit]" class="btn btn-primary">{{'Enregistrer'|trans({})}}</button>
                            <a href="/listing">
                                <button type="button" id="mainbundle_offer_button" name="mainbundle_offer[button]" class="btn btn-default">Annuler</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_bottom_scripts %}

<!-- this page specific inline scripts -->

<script>
    $(document).readonly="readonly"y(function() {

    });
</script>
{% endblock %}