{% spaceless %}
{% for proposal in proposals %}
{% if proposal.productId == prodId %}
{% if prop == 'prix' %}
{{proposal.prix}}
{% endif %}
{% if prop == 'vol' %}
{{proposal.volume}}
{% endif %}
{% endif %}
{% endfor %}
{% endspaceless %}