{{form_start(responseForm, {'action' : path('main_response_create', {'offer': offer_id, 'user' : app.user.id}), 'attr' : {'id' : 'proposal', 'data-validate': 'saveResponse'} } ) }}
    <div class="form-group clearfix">
        <div class="col-lg-6">
           <b>Référence: </b> {{reference.vars.value}}
           <input type="hidden" name="mainbundle_response[reference]" value="{{offer_id}}" />
           <input type="hidden" name="mainbundle_response[lastStep]" value="4" />
        </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-lg-2">
            {{form_widget(responseForm.extraInfo, {'class': 'form-control'})}}
        </div>
    </div>

    {% for product in responseForm.proposals %}
    {% set idx = loop.index - 1%}

    <div class="col-lg-6">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>{{product.vars.data.product.type}} (Volume de l'appel d'offre: {{product.vars.data.product.volume}})</h2>
            </header>

            <div class="product main-box-body clearfix">
                <div class="col-lg-12">
                    <div class="form-group clearfix">
                        <div class="col-lg-5">
                            Volume proposé
                        </div>
                        <input type="hidden" name="mainbundle_response[proposals][{{idx}}][productId]" value="">
                        <div class="col-lg-7">

                            <input data-validate="notEmpty" type="text" id="{{'volume_'~idx}}" name="mainbundle_response[proposals][{{idx}}][volume]"
                            required="required" class="form-control form-control volume" placeholder="Volume proposé"
                            value="{{product.vars.data.volume}}">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-5">
                            Prix unitaire
                        </div>
                        <div class="col-lg-7">
                            <input data-validate="notEmpty" type="text" id="{{'prix_'~idx}}" name="mainbundle_response[proposals][{{idx}}][prix]" required="required" class="form-control form-control prix" placeholder="Prix unitaire"
                            value="{{product.vars.data.prix}}">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-lg-5">
                            Prix total
                        </div>
                        <div class="col-lg-7">
                            <input type="text" id="{{'prix_total_'~idx}}" name="mainbundle_offer[reference]" readonly="readonly" required="required" class="form-control form-control prix-total" placeholder="Prix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{{form_end(responseForm, {'render_rest' : false })}}