{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2>Details de reponse a l'appel d'offre.</h2>
            </header>

            <div class="main-box-body clearfix">
                <div class="col-lg-12">
                    {{form_start(form) }}
                        <div class="form-group clearfix">
                            <div class="col-lg-6">
                               <b>Référence: </b> {{form.vars.data.offer.reference}}
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <div class="col-lg-2">
                                {{form_widget(form.extraInfo, {'class': 'form-control'})}}
                            </div>
                        </div>

                        {% for product in form.proposals %}
                            {% set idx = loop.index - 1%}

                            <div class="col-lg-6">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>{{product.vars.data.product.type}} (Volume de l'appel d'offre: {{product.vars.data.product.volume}})</h2>
                                    </header>

                                    <div class="product main-box-body clearfix">
                                        <div class="col-lg-12">
                                            <div class="form-group clearfix">
                                                <div class="col-lg-5">
                                                    Volume proposé
                                                </div>
                                                <input type="hidden" name="mainbundle_response[proposals][{{idx}}][productId]" value="">
                                                <div class="col-lg-7">

                                                    <input data-validate="notEmpty" type="text" id="{{'volume_'~idx}}" name="mainbundle_response[proposals][{{idx}}][volume]"
                                                    required="required" class="form-control form-control volume" placeholder="Volume proposé"
                                                    value="{{product.vars.data.volume}}">
                                                </div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <div class="col-lg-5">
                                                    Prix unitaire
                                                </div>
                                                <div class="col-lg-7">
                                                    <input data-validate="notEmpty" type="text" id="{{'prix_'~idx}}" name="mainbundle_response[proposals][{{idx}}][prix]" required="required" class="form-control form-control prix" placeholder="Prix unitaire"
                                                    value="{{product.vars.data.prix}}">
                                                </div>
                                            </div>
                                            <div class="form-group clearfix">
                                                <div class="col-lg-5">
                                                    Prix total
                                                </div>
                                                <div class="col-lg-7">
                                                    <input type="text" id="{{'prix_total_'~idx}}" name="mainbundle_offer[reference]" disabled="disabled" readonly="readonly" required="required" class="form-control form-control prix-total" placeholder="Prix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {{form_end(form, {'render_rest' : false })}}
                </div>

                <a href="{{path('main_offer_listing')}}" class="btn btn-primary email-compose-btn">
                    <i class="fa fa-list-ol"></i>
                    Retour a la liste
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_bottom_scripts %}

<!-- this page specific inline scripts -->

<script>
    $(document).ready(function() {
        $('.prix-total').each(function(){
            var parentSelector = $(this).parents('.product');
            var prix = parentSelector.find('.prix').val();
            var vol  = parentSelector.find('.volume').val();
            $(this).val(prix*vol);
        });
    });
</script>
{% endblock %}