{% extends "MainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/main/css/compiled/wizard.css') }}" rel="stylesheet" />
{% endblock %}

{% block page_top_scripts %}
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col-lg-12">
        <div class="main-box clearfix" style="min-height: 820px;">
            <header class="main-box-header clearfix">
                <h2>Reponse appel d'offre</h2>
            </header>

            <div class="main-box-body clearfix">

                <div id="myWizard" class="wizard">
                    <div class="wizard-inner">
                        <ul class="steps">
                            <li data-target="#step1" class="active"><span class="badge badge-primary">1</span>Validation CG<span class="chevron"></span></li>
                            <li data-target="#step2"><span class="badge">2</span>Detail AO<span class="chevron"></span></li>
                            <li data-target="#step3"><span class="badge">3</span>Accuse reception<span class="chevron"></span></li>
                            <li data-target="#step4"><span class="badge">4</span>Reponse AO<span class="chevron"></span></li>
                            <li data-target="#step5"><span class="badge">5</span>Validation AO<span class="chevron"></span></li>
                        </ul>
                        <div class="actions">
                            <button type="button" class="btn btn-default btn-mini btn-prev"> <i class="icon-arrow-left"></i>Precedent</button>
                            <button type="button" class="btn btn-success btn-mini btn-next" data-last="Valider">Suivant<i class="icon-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="step-content">
                        <div class="step-pane active" id="step1">
                            <br/>
                            <h4>Validation accord de confidentialité</h4>
                                <div class="form-group">
                                    <div id="" style="overflow:scroll; height:350px;">
                                        {% include 'MainBundle:Response:termsAndConds.html.twig' %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox-nice">
                                        <input type="checkbox" id="condgen" data-validate="validateAccord" checked="checked">
                                        <label for="condgen"> J'accept les conditions.</label>
                                    </div>
                                </div>
                        </div>

                        <div class="step-pane" id="step2">
                            <br/>
                            {% include 'MainBundle:Offer:details.html.twig' with {'form' : offerForm} %}
                        </div>
                        <div class="step-pane" id="step3">
                            <br/>
                            <h4>Accuse de reception</h4>

                            <div id="newsfeed">
                                <div class="story">

                                    <div class="story-content">
                                        <div class="story-inner-content">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox-nice">
                                    <input type="checkbox" id="accuse-reception" data-validate="validateReception" checked="checked">
                                    <label for="accuse-reception"> J'affirme souhaiter répondre à cet appel d'offre.</label>
                                </div>
                            </div>
                        </div>
                        <div class="step-pane" id="step4">
                            <br/>
                            <h4>Reponse appel d'offre</h4>
                            {% include 'MainBundle:Response:response_content.html.twig' with {
                            'offer_id': offer.id, 'reference' : offerForm.reference ,'responseForm' : responseForm} %}
                        </div>
                        <div class="step-pane" id="step5">
                            <br/>
                            <h4>Vous devez valider votre reponse</h4>
                            <div class="alert alert-info">
                                <i class="fa fa-info-circle fa-fw fa-lg"></i>
                                Pour finaliser votre reponse et envoyer un email a EDF avec votre reponse a l'appel d'offre vous devez finaliser la creation.
                            </div>
                            <div class="alert alert-warning">
                                <i class="fa fa-warning fa-fw fa-lg"></i>
                                <strong>Attention!</strong> Une fois appuyant sur le button VALIDER vous pouvez plus revenir pour modifier votre reponse!
                            </div>
                            <p> Voici les details de votre reponse: </p>
                            <div id="form-replica">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block page_bottom_scripts %}

    <!-- this page specific scripts -->
    <script src="{{ asset('bundles/main/js/libs/wizard.js') }}"></script>
    <script src="{{ asset('bundles/main/js/libs/jquery.maskedinput.min.js') }}"></script>

<!-- this page specific inline scripts -->
<script>
    $(function () {

        var lastStep = {{lastStep}};
        var currentStep = lastStep;

        if (lastStep < 4) {
            currentStep = lastStep + 1 ;
        }

        if (lastStep == 5) {
            replicateForm();
        }

        var options = {
            selectedItem:
                { step: currentStep },
            logging: true
        }
        var myWizard = $('#myWizard').wizard(options);

        $('.prix, .volume').on("keyup", function(){

            var parentSelector = $(this).parents('.product');
            var prixTotal = parentSelector.find('.prix-total');
            var prix = parentSelector.find('.prix');
            var vol  = parentSelector.find('.volume');
            var prixVal = ($(prix).val() === undefined) ? 0 : $(prix).val();
            var volVal = ($(vol).val() === undefined) ? 0 : $(vol).val();

            $(prixTotal).val(prixVal*volVal);
        });

        myWizard.on('finished', function(){
            var url = '{{path('main_response_update_step', {"offer": offer.id, "step": 5})}}';
            $.get( url, function( data ) {
              console.log('calling: '+ url );
              response = JSON.parse(data);
              if (response.succes) {
                window.location = response.redirect;
              }
            });
        });

    });

    function replicateForm(){
        $('#form-replica').html('');
        $('#proposal').clone().appendTo('#form-replica');
        $('#form-replica').find('input, select').each(function(){
            $(this).attr('readonly', 'readonly');
            $(this).removeAttr('data-validate');
        });
        // $('#form-replica').html($('#proposal').html()).find('input, select').each(function(){
        //     $(this).attr('readonly', 'readonly');
        //     $(this).removeAttr('data-validate');

        // });
    }

    function validateReception(el) {
       ret = {
            status: true
        };
        if (!el.is(':checked')) {
            ret.status = false;
            ret.msg = "Vous devez accuser la reception.";
        }

        var url = '{{path('main_response_update_step', {"offer": offer.id, "step": 3})}}';
        console.log("calling:"+ url);
        //create response and update step
        $.get( url, function( data ) {
          console.log('RESULT: '+data );
        });

        return ret;
    }

    function validateAccord(el) {
        ret = {
            status: true
        };
        if (!el.is(':checked')) {
            ret.status = false;
            ret.msg = "Vous devez accepter les condition generales.";
        }

        var url = '{{path('main_response_update_step', {"offer": offer.id, "step": 1})}}';
        console.log("calling:"+ url);
        //create response and update step
        $.get( url, function( data ) {
          console.log('RESULT: '+data );
        });

        return ret;
    };

    function saveResponse(){
        var data = $('#proposal').serialize();
        $.post($('#proposal').attr('action'), data, function (retData){
            displayErrMsg('Votre réponse a été sauvegardée', 'success');
        });
        replicateForm();


        return false;

    };

    function notEmpty(el) {
        ret = {
            status: true
        };
        if (el.val() === "") {
            ret.status = false;
            ret.msg = "La valeur ne peut pas être vide.";
        }
        return ret;
    };
    </script>
{% endblock %}